<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <h2>Chart Form</h2>
      <hr>
       <div class="form-group">
            
          <form [formGroup]="cForm" (ngSubmit)="createChart(val1.value)">
            <label for="val1">Chart Value 1</label>
            <input type="number" 
                min = "1"
                max="100"
                name="" 
                id="val1"
                [value]="giv1"
                class="form-control w-50"
                (focusout)="chkVal1(val1.value)"
                #val1
                formControlName="val1"
                >
                <span class="badge badge-warning"
                  *ngIf="cForm.get('val1').invalid && cForm.get('val1').touched"
                  >
                  Please enter a number between 1 to 100.
                </span>
                <br>
              <label for="val2">Chart Value 2</label>
              <input type="number" 
                  name="" 
                  id="val2"
                  [value]="giv2"
                  class="form-control w-50"
                  (focusout)="chkVal2(val2.value)"
                  #val2
                  formControlName="val2"
                  >
                  <span class="badge badge-warning"
                  *ngIf="cForm.get('val2').invalid && cForm.get('val2').touched"
                  >
                  Please enter a number between 1 to 100.
                </span>
              <br>
              <button type="submit"
                class="btn btn-primary" 
                [disabled]="cForm.invalid"
                >
                Create Chart
              </button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>Chart Formation</h2>
      <hr>
      <div class="piechart" 
           chartDir
           [value1]="passValtoVal1"
           >
           
      </div>
      
    </div>
  </div>
</div>


<!-- <div class="piechart1"></div> -->